# Default ignored files
/../../../Lab 2 Esercizi ereditarietà e riflessione (soluzioni)-20250820/Geometrie/.idea/shelf/
/../../../Lab 2 Esercizi ereditarietà e riflessione (soluzioni)-20250820/Geometrie/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../Lab 2 Esercizi ereditarietà e riflessione (soluzioni)-20250820/Geometrie/.idea/httpRequests/
# Datasource local storage ignored files
/../../../Lab 2 Esercizi ereditarietà e riflessione (soluzioni)-20250820/Geometrie/.idea/dataSources/
/../../../Lab 2 Esercizi ereditarietà e riflessione (soluzioni)-20250820/Geometrie/.idea/dataSources.local.xml
